extends ../layout
block content
    include ../directorHead
    .container
        ul.breadcrumb
            li: a(href="/director/profile") Inicio
            li: a(href="/asignatura/#{asignatura.id}") Asignatura
            li.active Registrar docente
        .row
            .margin-auto
                p.lead.text-center
                    strong Registro de docente
                    span.text-primary &nbsp; #{asignatura.nombre} -
                    span.text-primary &nbsp; #{postgrado.nombre} -
                    span.text-primary: strong &nbsp; #{programa.nombre}
                p.lead.text-center
                    h5.text-center
                        a(href="/asignatura/#{asignatura.id}").btn.btn-default.btn-xs
                            i.fa.fa-chevron-circle-left
                            | &nbsp; Volver a la asignatura
                .margin-botton
                .well.bs-component
                    form(method="POST", action="/docente/add").form-horizontal
                        input(type="hidden", name="asignatura", value="#{asignatura.id}")
                        input(type="hidden", name="profesorbe", value="#{asignatura.profesor_id}")
                        input(type="hidden", name="programa", value="#{programa.id}")
                        faildset
                            legend Formulario de registro de Docentes
                            .form-group
                                label(for="inputNombre", class="col-lg-2 control-label") Nombres
                                .col-lg-10
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-user
                                        input(type="text", name="nombres", autocomplete="off", required).form-control
                                    p.text-muted primer y segundo nombre del docente.
                            .form-group
                                label(for="inputApellidos", class="col-lg-2 control-label") Apellidos
                                .col-lg-10
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-user
                                        input(type="text", name="apellidos", autocomplete="off", required).form-control
                                    p.text-muted Apellidos del docente.
                            .form-group
                                label(for="inputtipo", class="col-lg-2 control-label") Tipo documento
                                .col-lg-10
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-bookmark
                                        select(name="tipodoc").form-control
                                            option(value="Cedula de ciudadania") Cedula de ciudadania
                                            option(value="Pasaporte") Pasaporte
                                            option(value="Cedula de Extranjeria") Cedula de Extranjeria
                                    p.text-muted Tipo de documento identificador del docente.
                            .form-group
                                label(for="inputdocumento", class="col-lg-2 control-label") Documento
                                .col-lg-10
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-bookmark
                                        input(type="text", name="numdoc", autocomplete="off", required).form-control
                                    p.text-muted numero de documento identificador del docente.
                            .form-group
                                label(for="inputdocumento", class="col-lg-2 control-label") Email
                                .col-lg-10
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-send-o
                                        input(type="email", name="email", autocomplete="off", required).form-control
                                    p.text-muted direccion de correo electronico de contacto del docente
                            .form-group
                                label(for="inputdocumento", class="col-lg-2 control-label") Telefono
                                .col-lg-10
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-phone
                                        input(type="number", name="telefono", autocomplete="off", required).form-control
                                    p.text-muted direccion de correo electronico de contacto del docente
                            legend
                            .form-group
                                h5.text-center
                                    button(type="submit").btn.btn-primary
                                        i.fa.fa-plus
                                        | &nbsp; Agregar Docente
