extends ../layout
block content
    .navbar.navbar-inverse
        .container
            .navbar-header
                a(class="navbar-brand", href="#") Sistema EspSoft
                button(class="navbar-toggle", type="button", data-toggle="collapse", data-target="#navbar-main")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .navbar-collapse.collapse.navbar-responsive-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Postgrados
                    li
                        a(href="#") UFPS
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/logoutAdmin")
                            i.fa.fa-power-off
                            | &nbsp; Cerrar Sesion
    .row
        .container
            .col-sm-8
                .panel.panel-default
                    .panel-heading
                        h4.pull-right
                            a(href="/Programa/new").btn.btn-primary.btn-xs
                                i.fa.fa-plus
                                | &nbsp; Crear nuevo programa
                        h5
                            i.fa.fa-mortar-board
                            | &nbsp; Programas Registrados
                            span.badge.margin-left-1 #{numprogramas}
                    .panel-body
                        p.lead Lista de programas que se encuentran registrados en el sistema
                        .list-group
                            -if (numpostgrados < 1){
                                p.text-center.text-info No existen programas registrados en este sistema.
                            -}else{
                                -count=1
                                each programa in programas
                                    .list-group-item
                                        .list-group-item-heading
                                            table.table.margin-botton-none
                                                tr
                                                    td(width="15%").text-center
                                                        h3
                                                            span.badge #{count}
                                                    td(width="65%")
                                                        h4.text-primary #{programa.nombre}
                                                        span.text-info ID:
                                                            span.text-muted &nbsp; #{programa.id}
                                                    td(width="20%", align="center")
                                                        blockquote
                                                            a(href="/programa/#{programa.id}/view").btn.btn-default.btn-sm
                                                                i.fa.fa-cog
                                                                | &nbsp; Administrar
                                    -count++
                            -}
            .col-sm-4
                .col-lg-12
                    .panel.panel-default
                        .panel-body
                            p.lead.text-center.text-muted Programas Academicos
                            h4.text-center Sistema EspSoft
                            h5.text-center
                                span.label.label-default
                                    i.fa.fa-bookmark
                                    | &nbsp; Administracion de programas
                            p.text-center Programas
                            h2.text-center
                                span.label.label-primary.text-size #{numprogramas}
                            .margin-botton
                .col-lg-12
                    .panel.panel-default
                        .panel-body
                            p.lead.text-center.text-muted Director Administrativo
                            h4.text-center.text-primary #{user.usuario}
                            h5.text-center
                                span.label.label-warning
                                    i.fa.fa-user
                                    | &nbsp; Administrador