extends ../layout
block content
    include ../directorHead
    .container
        ul.breadcrumb
            li: a(href="/director/profile") Inicio
            li: a(href="/postgrado/#{postgrado.id}") Posgrado
            li: a(href="/Pensum/#{pensum.id}") Pensum
            li.active Informacion de la materia
        .row
            .margin-auto
                p.lead.text-center
                    strong Informacion de la materia

                h5.text-center.margin-botton
                    a(href="/pensum/#{pensum.id}").btn.btn-default.btn-xs
                        i.fa.fa-chevron-circle-left
                        | &nbsp; Volver al pensum



            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        h5
                            i.fa.fa-paste
                            |&nbsp; Datos principales de la materia
                    .panel-body
                        form(method="POST", action="/asignatura/edit", id="form-edit-asig").form-horizontal
                            input(type="hidden", name="_method", value="PUT")
                            input(type="hidden", name="id", value="#{asignatura.id}")
                            fieldset
                                .form-group
                                    label(for="inputNombre", class="col-lg-2 control-label") Nombre
                                    .col-lg-10

                                        .input-group
                                            span.input-group-addon
                                                i.fa.fa-user
                                            input(type="text", name="nombre",value="#{asignatura.nombre}", required).form-control
                                        p.lead.text-muted Nombre identificador de la materia en el pensum

                                .form-group
                                    label(for="inputNivel", class="col-lg-2 control-label") Nivel
                                    .col-lg-10

                                        .input-group
                                            span.input-group-addon
                                                i.fa.fa-user
                                            input(type="number", name="nivel", value="#{asignatura.nivel}", required).form-control
                                        p.lead.text-muted Nivel del posgrado donde se encuentra la materia

                                .form-group
                                    label(for="inputNivel", class="col-lg-2 control-label") Creditos
                                    .col-lg-10

                                        .input-group
                                            span.input-group-addon
                                                i.fa.fa-user
                                            input(type="number", name="credito", value="#{asignatura.cradito}", required).form-control
                                        p.text-muted Nivel del posgrado donde se encuentra la materia

                                .form-group
                                    label(for="inputMaterial", class="col-lg-2 control-label") Material URL
                                    .col-lg-10

                                        .input-group
                                            span.input-group-addon
                                                i.fa.fa-user
                                            input(type="url", name="material", value="#{asignatura.material_url}").form-control
                                        p.text-muted Direccion url, donde se encuentran alojados los recorsos academicos de la materia.

                                legend
                                .form-group
                                    h5.text-center
                                        button(type="submit").btn.btn-primary
                                            i.fa.fa-save
                                            | &nbsp; Guardar Cambios

            .col-lg-6
                .col-lg-12
                    .panel.panel-default
                        .panel-body
                            br
                            p.lead.text-center.text-muted Materia del Pensum :
                                strong.text-success.margin-left-1 #{pensum.nombre}
                            p.lead.text-center.text-primary
                                | #{asignatura.nombre}
                                br
                                -if (asignatura.electiva == true){
                                    span.label.label-default Electiva
                                    -if (asignatura.modo != ''){
                                        span.label.label-info.margin-left-1 #{asignatura.modo}
                                    -}
                                -}else{
                                    span.label.label-primary Obligatoria
                                -}

                .col-lg-12
                    .panel.panel-default
                        .panel-heading
                            h5
                                i.fa.fa-paste
                                |&nbsp; Datos especificos de la materia
                        .panel-body
                            .form-horizontal
                                faildset
                                    legend Docente de la materia

                                    -if (docente){
                                        .profileAvatar-alt
                                            .avatar
                                                -if (avatar != false){
                                                    img(src="/images/uploads/people/#{docente.id}.jpg", title="#{datos.nombres} #{datos.apellidos}", class="portrait")
                                                -}else{
                                                    img(src="/images/uploads/people/empty.jpg", title="#{datos.nombres} #{datos.apellidos}", class="portrait")
                                                -}
                                        .form-group
                                            label(for="docente", class="col-lg-2 control-label") Docente
                                            .col-lg-10
                                                .input-group
                                                    a(href="/docente/#{docente.id}/#{asignatura.id}").btn.btn-warning.btn-sm
                                                        i.fa.fa-user
                                                        | &nbsp; #{datos.nombres} #{datos.apellidos}
                                                p.text-muted Da click sobre el nombre del docente para ver su informacion
                                                .input-group
                                                    a(href="/docente/change/#{asignatura.id}").btn.btn-default.btn-xs
                                                        i.fa.fa-refresh
                                                        | &nbsp; Cambiar el Docente
                                    -}else{
                                        .form-group
                                            label(for="docente", class="col-lg-2 control-label") Docente
                                            .col-lg-10
                                                .input-group
                                                    p.text-warning No se ha asignado un docente para esta materia
                                                p.text-muted Da click sobre el siguiente boton para agregar un docente
                                                .input-group
                                                    a(href="/docente/change/#{asignatura.id}").btn.btn-default.btn-xs
                                                        i.fa.fa-plus
                                                        | &nbsp; Asignar Docente
                                    -}
                                    br
                                    br

                                    legend Horario asignado a la materia
                                        a(href="/horario/new/#{asignatura.id}").btn.btn-primary.btn-xs.pull-right
                                            i.fa.fa-plus
                                            |&nbsp; Agregar Horario de clase
                                    .list-group
                                        -if (horariosnum == 0){
                                            p.text-info.text-center Esta asignatura no tiene registrado horarios de clase aun.
                                        -}else{
                                            each horario in horarios
                                                .list-group-item
                                                    .list-group-item-heading
                                                        h4 #{horario.dia}
                                                            span.text-primary &nbsp; #{horario.hora_inicia} - #{horario.duracion}
                                                    .list-group-item-text
                                                        h4 #{horario.Lugar}
                                                    .list-group-item-text.text-right
                                                        a(href="/horario/edit/#{horario.id}/#{asignatura.id}").btn.btn-default.btn-xs
                                                            i.fa.fa-edit
                                                            | &nbsp; Editar
                                                        a(href="/horario/#{horario.id}/delete").btn.btn-danger.btn-xs.margin-left-1
                                                            i.fa.fa-times
                                                            | &nbsp; Eliminar
                                        -}
                -if (pensum.status == 0){
                    .col-lg-12
                        .panel.panel-default
                            .panel-body
                                h3.text-center
                                    span.text-danger Anulacion de asignatura
                                p.text-center
                                    em Modulo que permite la eliminacion de asignaturas registradas en el pensum.
                                h3.text-center
                                    a(href="/asignatura/delete/#{asignatura.id}").btn.btn-danger
                                        i.fa.fa-times
                                        | &nbsp; Eliminar asignatura
                -}
    script(type="text/javascript").

        $(document).ready(function() {
            $('#form-edit-asig')
                    .bootstrapValidator({
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            nombre: {
                                validators: {
                                    notEmpty: {
                                    },
                                    stringLength: {
                                        min: 3,
                                        max: 30
                                    }
                                }
                            },
                            nivel: {
                                validators: {
                                    notEmpty: {
                                    },
                                    integer: {}

                                }
                            },
                            creditos: {
                                validators: {
                                    notEmpty: {
                                    },
                                    integer: {}

                                }
                            },
                            material: {
                                validators: {
                                    uri: {}
                                }
                            }

                        }
                    });
        });
